@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

a {
  color: #636363; }
  a:hover {
    color: #fff; }

.main-header .navbar {
  background-color: #ecb0ff; }
  .main-header .navbar #logo {
    background-image: url(../img/logo.svg);
    display: block;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    transition: all .4s; }
    .main-header .navbar #logo:hover {
      opacity: 0.5;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1); }
  .main-header .navbar .navbar-toggler {
    color: #6c6c6c;
    border: 0;
    outline: none; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(99, 99, 99, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.nav-link:focus, .nav-link:hover, .nav-link:visited {
  outline: none;
  text-decoration: none; }

.navbar-light .navbar-nav .nav-link {
  color: #636363; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #fff; }

/* .navbar-nav {
    li {
        text-align: center;
        a {
        border-bottom: 2px solid $white;
        display: inline-block;
        text-transform: uppercase;
       }
    }
} */
.intro-content {
  text-align: center;
  background-color: #fff;
  background-image: url(../img/intro-bkg.jpg);
  background-size: cover;
  color: #fff; }
  .intro-content h1 {
    font-size: 50px; }
  .intro-content h2 {
    font-size: 30px; }
  .intro-content a {
    color: #636363;
    border: 3px solid #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    display: inline-block;
    margin: 20px 0 40px 0; }
    .intro-content a span img {
      opacity: 0.6;
      transition: all .6s; }
      .intro-content a span img:hover {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0.4; }

.skills-section {
  color: #636363;
  background-image: url(../img/skills-bkg.jpg);
  background-size: cover;
  padding-bottom: 23px; }
  .skills-section h3 {
    padding: 15px 0;
    text-align: center;
    margin: 0; }
  .skills-section h4 {
    text-align: center;
    margin: 5px 0 0 0;
    font-style: italic; }
  .skills-section .skills-display {
    background-color: #e2e2e2;
    margin-bottom: 30px; }
    .skills-section .skills-display span {
      display: block;
      margin-bottom: 5px; }

.projects {
  padding: 40px 0 20px 0;
  background-image: url(../img/boxes-min.jpg);
  background-size: cover; }
  .projects .modal .modal-header {
    text-align: center;
    border-bottom: 0; }
    .projects .modal .modal-header h5 {
      width: 100%;
      font-weight: bold;
      text-transform: uppercase; }
    .projects .modal .modal-header button:focus {
      outline: none; }
    .projects .modal .modal-header span {
      color: red; }
  .projects .modal .modal-details {
    text-align: center; }
    .projects .modal .modal-details .img-holder {
      overflow: hidden; }
      .projects .modal .modal-details .img-holder img {
        transition: all 1s ease; }
        .projects .modal .modal-details .img-holder img:hover {
          transform: scale(1.2); }
    .projects .modal .modal-details p {
      display: inline-block;
      padding: 10px 0 0 10px;
      font-style: italic; }
    .projects .modal .modal-details hr {
      margin: 0 30px; }
  .projects .modal .modal-footer {
    justify-content: center;
    border: 0; }
    .projects .modal .modal-footer .btn {
      border-radius: 5px; }
  .projects .card {
    border: 3px solid #acacff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .projects .card .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover; }
    .projects .card .card-body {
      text-align: center; }
    .projects .card h5 {
      font-weight: bold; }
    .projects .card p {
      font-size: 14px;
      text-align: center; }
  .projects a, .projects .btn {
    color: #acacff;
    border: 2px solid #acacff;
    background-color: #fff;
    transition: all .5s ease-in-out; }
    .projects a:hover, .projects .btn:hover {
      color: #fff;
      background-color: #acacff; }
    .projects a:focus, .projects .btn:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .projects hr {
    display: block;
    margin: 10px 0 10px 0; }

.contact {
  color: #fff;
  background-color: #2f2f2f; }
  .contact .contact-intro {
    text-align: center;
    color: #fff; }
    .contact .contact-intro h6 {
      padding: 20px 0 0 10px;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold; }
    .contact .contact-intro p {
      font-size: 16px;
      margin-bottom: 10px; }
  .contact .form-wrapper {
    text-align: center; }
    .contact .form-wrapper .contact-form {
      width: 50%;
      display: inline-block; }
      .contact .form-wrapper .contact-form .form-group label {
        padding: 10px 0; }
      .contact .form-wrapper .contact-form .form-group textarea {
        overflow: hidden;
        resize: none;
        margin-bottom: 0; }
      .contact .form-wrapper .contact-form .form-group input, .contact .form-wrapper .contact-form .form-group textarea {
        border: 0;
        border-radius: 0; }
        .contact .form-wrapper .contact-form .form-group input:focus, .contact .form-wrapper .contact-form .form-group textarea:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          outline: 3px solid #ecb0ff; }
      .contact .form-wrapper .contact-form .form-submit {
        border: 2px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 15px 0; }
        .contact .form-wrapper .contact-form .form-submit:hover {
          background-color: #ecb0ff;
          border-color: #ecb0ff; }

/*# sourceMappingURL=main.css.map */
