@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: #2f2f2f; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

/*a {
    color: $link-color;
    &:hover {
        color: $white;
    }
}*/
.main-header {
  position: fixed;
  width: 100%;
  z-index: 999; }
  .main-header .navigation {
    background: #ece9e6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ece9e6, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ece9e6, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 12px;
    position: fixed;
    padding: 30px 40px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    transition: all .3s; }
    .main-header .navigation #logo {
      background-image: url(../img/logo.svg);
      display: inline-block;
      text-indent: -9999px;
      width: 45px;
      height: 45px;
      background-size: 45px 45px;
      background-repeat: no-repeat;
      transition: all .3s ease-in-out;
      opacity: 0.6; }
      .main-header .navigation #logo:hover {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2); }
    .main-header .navigation .navigation-list {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .main-header .navigation .navbar-toggler {
      color: #6c6c6c;
      border: 0;
      outline: none; }
    .main-header .navigation .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(99, 99, 99, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    .main-header .navigation .nav-link {
      display: inline-block;
      color: #2f2f2f;
      border-bottom: 2px solid transparent; }
    .main-header .navigation .nav-link:focus, .main-header .navigation .nav-link:hover, .main-header .navigation .nav-link:visited {
      outline: none;
      text-decoration: none;
      border-color: #2f2f2f; }

@media (min-width: 768px) {
  .main-header .navigation {
    font-size: 14px; }
    .main-header .navigation #logo {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      margin-left: 0; } }
@media (min-width: 1200px) {
  .main-header .navigation {
    font-size: 16px; } }
.resize-navigation {
  padding: 0 40px !important; }

.intro-section {
  background: #ece9e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: #2f2f2f;
  padding-top: 150px; }
  .intro-section .intro-content {
    display: none; }
    .intro-section .intro-content h1 {
      padding: 30px 0 45px 0;
      font-size: 0.875rem; }
      .intro-section .intro-content h1 span {
        display: inline-block;
        background-color: rgba(99, 99, 99, 0.2);
        padding: 0 4px;
        -webkit-box-shadow: 0.5px 1px 1px 1px #2f2f2f;
        -moz-box-shadow: 0.5px 1px 1px 1px #2f2f2f;
        box-shadow: 0.5px 1px 1px 1px #2f2f2f; }
    .intro-section .intro-content h2 {
      font-size: 0.75rem; }
    .intro-section .intro-content #intro-btn {
      text-transform: uppercase;
      font-size: 0.625rem;
      font-weight: bold;
      color: #2f2f2f;
      border: 2px solid #ecb0ff;
      border-radius: 3px;
      text-decoration: none;
      padding: 6px;
      display: inline-block;
      margin-top: 35px;
      transition: all .5s; }
      .intro-section .intro-content #intro-btn:hover {
        background-color: #ecb0ff;
        color: #fff; }
        .intro-section .intro-content #intro-btn:hover > span {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg); }
      .intro-section .intro-content #intro-btn span {
        display: inline-block;
        margin-left: 3px;
        background-image: url("../img/forward.png");
        text-indent: -9999px;
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
        transition: all .7s; }

@media (min-width: 576px) {
  .intro-section {
    padding-top: 150px; }
    .intro-section .intro-content {
      padding-top: 50px; }
      .intro-section .intro-content h1 {
        font-size: 1.250rem; }
      .intro-section .intro-content h2 {
        font-size: 1rem; }
      .intro-section .intro-content #intro-btn {
        margin-top: 30px; } }
@media (min-width: 768px) {
  .intro-section .intro-content h1 {
    font-size: 1.500rem;
    margin-bottom: 40px; }
  .intro-section .intro-content h2 {
    font-size: 1.250rem;
    margin-bottom: 80px; }
  .intro-section .intro-content #intro-btn {
    border-radius: 5px;
    padding: 8px; } }
@media (min-width: 992px) {
  .intro-section .intro-content h1 {
    font-size: 1.750rem; }
  .intro-section .intro-content h2 {
    font-size: 1.500rem; }
  .intro-section .intro-content #intro-btn {
    padding: 10px;
    margin-top: 20px; } }
@media (min-width: 1200px) {
  .intro-section .intro-content h1 {
    font-size: 2.000rem; }
  .intro-section .intro-content h2 {
    font-size: 1.750rem; }
  .intro-section .intro-content #intro-btn {
    padding: 12px; } }
.skills-section {
  color: #2f2f2f;
  background-image: url(../img/final1.jpg);
  background-size: contain;
  padding-bottom: 10px; }
  .skills-section h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
    margin: 0; }
  .skills-section h4 {
    font-size: 0.875em;
    text-align: center;
    font-weight: bold;
    margin: 5px 0 0 0;
    font-style: italic; }
  .skills-section .skills-display {
    background-color: #e9e9e9;
    margin-bottom: 15px; }
    .skills-section .skills-display span {
      font-size: 0.750em;
      display: block;
      margin-bottom: 5px; }

@media (min-width: 768px) {
  .skills-section h3 {
    font-size: 1.250em; }
  .skills-section h4 {
    font-size: 1.125em; }
  .skills-section .skills-display span {
    font-size: 0.750em; } }
@media (min-width: 992px) {
  .skills-section .skills-display span {
    font-size: 0.875em; } }
@media (min-width: 1200px) {
  .skills-section h3 {
    font-size: 1.375em; } }
.projects {
  padding: 4px 0;
  background-image: url(../img/projects-bkg.jpg);
  background-size: contain; }
  .projects h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    color: #2f2f2f;
    margin: 0;
    padding-bottom: 2px; }
  .projects .modal .modal-header {
    text-align: center;
    border-bottom: 0; }
    .projects .modal .modal-header h5 {
      font-size: 1rem;
      width: 100%;
      font-weight: 300;
      text-transform: uppercase;
      color: #acacff; }
    .projects .modal .modal-header button:focus {
      outline: none; }
    .projects .modal .modal-header span {
      color: red; }
  .projects .modal .modal-details {
    text-align: center; }
    .projects .modal .modal-details .img-holder {
      overflow: hidden; }
      .projects .modal .modal-details .img-holder img {
        transition: all 1s ease; }
        .projects .modal .modal-details .img-holder img:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          transform: scale(1.2); }
    .projects .modal .modal-details p {
      font-size: 0.875em;
      display: inline-block;
      padding: 10px 0 0 10px;
      font-style: italic;
      text-transform: uppercase;
      font-weight: 600; }
    .projects .modal .modal-details hr {
      margin: 0 30px; }
  .projects .modal .modal-footer {
    justify-content: center;
    border: 0; }
    .projects .modal .modal-footer .btn {
      font-size: 0.750em;
      border-radius: 5px; }
  .projects .card {
    border: 3px solid #acacff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 7px; }
    .projects .card .card-img-top {
      width: 100%;
      height: 30vh;
      object-fit: cover; }
    .projects .card .card-body {
      text-align: center; }
    .projects .card h5 {
      font-weight: bold;
      font-size: 0.875rem;
      margin-bottom: 7px; }
  .projects a, .projects .btn {
    font-size: 0.750em;
    color: #acacff;
    border: 2px solid #acacff;
    background-color: #fff;
    transition: all .5s ease-in-out; }
    .projects a:hover, .projects .btn:hover {
      color: #fff;
      background-color: #acacff; }
    .projects a:focus, .projects .btn:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

@media (min-width: 576px) {
  .projects h3 {
    padding: 2px 0; }
  .projects .card {
    margin-bottom: 7px; } }
@media (min-width: 768px) {
  .projects .modal .modal-header h5 {
    font-size: 1.125em; }
  .projects h3 {
    font-size: 1.25em; }
  .projects .card h5 {
    font-size: 1.125em; }
  .projects a, .projects .btn {
    font-size: 0.750em; } }
@media (min-width: 992px) {
  .projects .modal .modal-header h5 {
    font-size: 1.250em; }
  .projects .modal .modal-details p {
    font-size: 1em; }
  .projects .modal .modal-footer .btn {
    font-size: 0.938em; } }
@media (min-width: 1200px) {
  .projects {
    padding-top: 10px; }
    .projects h3 {
      font-size: 1.375em; } }
.contact {
  color: #fff; }
  .contact .contact-intro {
    text-align: center;
    color: #fff; }
    .contact .contact-intro h6 {
      padding: 20px 0 10px 0;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold; }
    .contact .contact-intro p {
      font-size: 0.875em;
      margin-bottom: 10px; }
  .contact .form-wrapper {
    text-align: center;
    position: relative; }
    .contact .form-wrapper .contact-form {
      width: 50%;
      display: inline-block; }
      .contact .form-wrapper .contact-form .form-group label {
        font-size: 0.875em;
        padding: 7px 0 3px 0; }
      .contact .form-wrapper .contact-form .form-group textarea {
        overflow: hidden;
        resize: none;
        margin-bottom: 0; }
      .contact .form-wrapper .contact-form .form-group input, .contact .form-wrapper .contact-form .form-group textarea {
        border: 0;
        border-radius: 0; }
        .contact .form-wrapper .contact-form .form-group input:focus, .contact .form-wrapper .contact-form .form-group textarea:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          outline: 3px solid #ecb0ff; }
      .contact .form-wrapper .contact-form .form-submit {
        border: 2px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.750em;
        margin: 0 0 30px 0; }
        .contact .form-wrapper .contact-form .form-submit:hover {
          background-color: #ecb0ff;
          border-color: #ecb0ff; }

@media (min-width: 576px) {
  .contact .form-wrapper .contact-form .form-submit {
    margin-top: 30px; } }
@media (min-width: 768px) {
  .contact .contact-intro h6 {
    font-size: 1.250em; }
  .contact .contact-intro p {
    font-size: 1em; }
  .contact .form-wrapper .contact-form .form-group label {
    font-size: 1em; }
  .contact .form-wrapper .contact-form .form-submit {
    font-size: 0.875em; } }
@media (min-width: 1200px) {
  .contact .contact-intro h6 {
    font-size: 1.375em; } }
.footer {
  position: relative;
  border-top: 2px solid #ecb0ff;
  color: #fff; }
  .footer .icon-holder {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -12.5px;
    background-color: #ecb0ff;
    border: 2px solid #ecb0ff;
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: all .4s ease-in-out;
    background-image: url("../img/back-to-top.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px; }
    .footer .icon-holder:hover {
      border-color: #fff; }
  .footer .contact-links {
    text-align: center;
    margin: 40px 0 20px 0;
    padding-left: 10px; }
    .footer .contact-links li {
      display: inline-block; }
      .footer .contact-links li:first-child {
        padding-right: 10px; }
      .footer .contact-links li a {
        display: block;
        width: 25px;
        height: 25px;
        background-color: #636363;
        text-indent: -9999px;
        background-size: cover;
        border-radius: 10px;
        transition: all .5s; }
        .footer .contact-links li a.fb {
          background-image: url("../img/facebook.png"); }
        .footer .contact-links li a.gh {
          background-image: url("../img/github.png"); }
        .footer .contact-links li a:hover {
          background-color: #fff; }
  .footer p {
    text-align: center;
    font-style: italic;
    font-size: 12px; }
    .footer p span {
      display: inline-block;
      padding-left: 5px; }

@media (min-width: 768px) {
  .footer .icon-holder {
    width: 32px;
    height: 32px;
    top: -16px; }
  .footer .contact-links li a {
    width: 27px;
    height: 27px; } }
@media (min-width: 1200px) {
  .footer {
    border-top-width: 3px; }
    .footer .icon-holder {
      width: 35px;
      height: 35px;
      top: -17.5px;
      border-width: 4px; }
    .footer .contact-links li a {
      width: 30px;
      height: 30px; }
    .footer p {
      font-size: 0.875em;
      padding-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */
