@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: #2f2f2f; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

/*a {
    color: $link-color;
    &:hover {
        color: $white;
    }
}*/
.main-header .navigation {
  background: #654ea3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eaafc8, #654ea3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eaafc8, #654ea3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 12px; }
  .main-header .navigation #logo {
    background-image: url(../img/logo.svg);
    display: inline-block;
    text-indent: -9999px;
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    transition: all .4s;
    opacity: 0.6;
    margin-left: 50px; }
    .main-header .navigation #logo:hover {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      transform: scale(1.2); }
  .main-header .navigation .navigation-list {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; }
  .main-header .navigation .navbar-toggler {
    color: #6c6c6c;
    border: 0;
    outline: none; }
  .main-header .navigation .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(99, 99, 99, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .main-header .navigation .nav-link {
    display: inline-block;
    color: #2f2f2f;
    border-bottom: 2px solid transparent; }
  .main-header .navigation .nav-link:focus, .main-header .navigation .nav-link:hover, .main-header .navigation .nav-link:visited {
    outline: none;
    text-decoration: none;
    border-color: #2f2f2f; }

@media (min-width: 768px) {
  .main-header .navigation {
    font-size: 14px; }
    .main-header .navigation #logo {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      margin-left: 0; } }
@media (min-width: 1200px) {
  .main-header .navigation {
    font-size: 16px; } }
.intro-content {
  background: #654ea3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eaafc8, #654ea3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eaafc8, #654ea3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: #2f2f2f; }
  .intro-content h1 {
    padding: 5px 0;
    font-size: 0.875rem; }
    .intro-content h1 span {
      display: inline-block;
      background-color: rgba(236, 176, 255, 0.2);
      padding: 0 4px;
      -webkit-box-shadow: 0.5px 1px 1px 1px #2f2f2f;
      -moz-box-shadow: 0.5px 1px 1px 1px #2f2f2f;
      box-shadow: 0.5px 1px 1px 1px #2f2f2f; }
  .intro-content h2 {
    font-size: 0.75rem; }
  .intro-content #intro-btn {
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: bold;
    color: #2f2f2f;
    border: 2px solid #ecb0ff;
    border-radius: 2px;
    text-decoration: none;
    padding: 6px;
    display: inline-block;
    margin: 10px 0 20px 0;
    transition: all .7s; }
    .intro-content #intro-btn:hover {
      background-color: #ecb0ff; }
      .intro-content #intro-btn:hover > span {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg); }
    .intro-content #intro-btn span {
      display: inline-block;
      margin-left: 3px;
      background-image: url("../img/forward.png");
      text-indent: -9999px;
      width: 12px;
      height: 12px;
      background-size: 12px 12px;
      transition: all .7s; }

@media (min-width: 576px) {
  .intro-content h1 {
    font-size: 0.875rem; }
  .intro-content h2 {
    font-size: 0.75rem; } }
@media (min-width: 768px) {
  .intro-content h1 {
    font-size: 1rem; }
  .intro-content h2 {
    font-size: 0.875rem; }
  .intro-content #intro-btn {
    padding: 8px; } }
@media (min-width: 992px) {
  .intro-content h1 {
    font-size: 1.25rem; }
  .intro-content h2 {
    font-size: 1.125rem; }
  .intro-content #intro-btn {
    padding: 10px; } }
.skills-section {
  color: #2f2f2f;
  background-image: url(../img/skills-bkg.jpg);
  background-size: cover;
  padding-bottom: 23px; }
  .skills-section h3 {
    padding: 15px 0;
    text-align: center;
    margin: 0; }
  .skills-section h4 {
    text-align: center;
    margin: 5px 0 0 0;
    font-style: italic; }
  .skills-section .skills-display {
    background-color: #e2e2e2;
    margin-bottom: 30px; }
    .skills-section .skills-display span {
      display: block;
      margin-bottom: 5px; }

.projects {
  padding: 40px 0 20px 0;
  background-image: url(../img/boxes-min.jpg);
  background-size: cover; }
  .projects .modal .modal-header {
    text-align: center;
    border-bottom: 0; }
    .projects .modal .modal-header h5 {
      width: 100%;
      font-weight: bold;
      text-transform: uppercase; }
    .projects .modal .modal-header button:focus {
      outline: none; }
    .projects .modal .modal-header span {
      color: red; }
  .projects .modal .modal-details {
    text-align: center; }
    .projects .modal .modal-details .img-holder {
      overflow: hidden; }
      .projects .modal .modal-details .img-holder img {
        transition: all 1s ease; }
        .projects .modal .modal-details .img-holder img:hover {
          transform: scale(1.2); }
    .projects .modal .modal-details p {
      display: inline-block;
      padding: 10px 0 0 10px;
      font-style: italic; }
    .projects .modal .modal-details hr {
      margin: 0 30px; }
  .projects .modal .modal-footer {
    justify-content: center;
    border: 0; }
    .projects .modal .modal-footer .btn {
      border-radius: 5px; }
  .projects .card {
    border: 3px solid #acacff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .projects .card .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover; }
    .projects .card .card-body {
      text-align: center; }
    .projects .card h5 {
      font-weight: bold; }
    .projects .card p {
      font-size: 14px;
      text-align: center; }
  .projects a, .projects .btn {
    color: #acacff;
    border: 2px solid #acacff;
    background-color: #fff;
    transition: all .5s ease-in-out; }
    .projects a:hover, .projects .btn:hover {
      color: #fff;
      background-color: #acacff; }
    .projects a:focus, .projects .btn:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .projects hr {
    display: block;
    margin: 10px 0 10px 0; }

.contact {
  color: #fff; }
  .contact .contact-intro {
    text-align: center;
    color: #fff; }
    .contact .contact-intro h6 {
      padding: 20px 0 0 10px;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold; }
    .contact .contact-intro p {
      font-size: 16px;
      margin-bottom: 10px; }
  .contact .form-wrapper {
    text-align: center;
    position: relative; }
    .contact .form-wrapper .contact-form {
      width: 50%;
      display: inline-block; }
      .contact .form-wrapper .contact-form .form-group label {
        padding: 10px 0; }
      .contact .form-wrapper .contact-form .form-group textarea {
        overflow: hidden;
        resize: none;
        margin-bottom: 0; }
      .contact .form-wrapper .contact-form .form-group input, .contact .form-wrapper .contact-form .form-group textarea {
        border: 0;
        border-radius: 0; }
        .contact .form-wrapper .contact-form .form-group input:focus, .contact .form-wrapper .contact-form .form-group textarea:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          outline: 3px solid #ecb0ff; }
      .contact .form-wrapper .contact-form .form-submit {
        border: 2px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 60px 0; }
        .contact .form-wrapper .contact-form .form-submit:hover {
          background-color: #ecb0ff;
          border-color: #ecb0ff; }

.footer {
  position: relative;
  border-top: 3px solid #ecb0ff;
  color: #fff; }
  .footer .icon-holder {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -20px;
    background-color: #ecb0ff;
    border: 3px solid #ecb0ff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all .5s;
    background-image: url("../img/back-to-top.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px; }
    .footer .icon-holder:hover {
      border-color: #fff;
      transform: scale(1.1); }
  .footer .contact-links {
    text-align: center;
    margin: 40px 0;
    padding-left: 10px; }
    .footer .contact-links li {
      display: inline-block; }
      .footer .contact-links li:first-child {
        padding-right: 10px; }
      .footer .contact-links li a {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #636363;
        text-indent: -9999px;
        background-size: cover;
        border-radius: 10px;
        transition: all .5s; }
        .footer .contact-links li a.gm {
          background-image: url("../img/gmail.png"); }
        .footer .contact-links li a.gh {
          background-image: url("../img/github.png"); }
        .footer .contact-links li a:hover {
          background-color: #fff; }
    .footer .contact-links p {
      font-style: italic;
      font-size: 12px;
      margin-top: 15px; }
      .footer .contact-links p span {
        display: inline-block;
        padding-left: 5px; }

/*# sourceMappingURL=main.css.map */
