.contact {
    color: $white;
    .contact-intro {
        text-align: center;
        color: $white;
        h6 {
            padding: 20px 0 10px 0;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: bold;
        }
        p {
            font-size: 0.875em;
            margin-bottom: 10px;
        }
    }
    .form-wrapper {
        text-align: center;
        position: relative;
        .contact-form {
            width: 50%;
            display: inline-block;
            .form-group {
                label {
                    font-size: 0.875em;
                    padding: 7px 0 3px 0;
                }
                textarea {
                    overflow: hidden;
                    resize: none;
                    margin-bottom: 0;
                }
                input, textarea {
                    border: 0;
                    border-radius: 0;
                    &:focus {
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;  
                        outline: 3px solid $purple ;
                    }
                }
            }
            .form-submit {
                border: 2px solid $white;
                color: $white;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.750em;
                margin: 0 0 30px 0;
                &:hover {
                    background-color: $purple;
                    border-color: $purple;
                }
            }
        }     
    }   
}
@media (min-width: 576px) {
    .contact {
        .form-wrapper {
            .contact-form {
                .form-submit {
                    margin-top: 30px;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .contact {
        .contact-intro {
            h6 {
                font-size: 1.250em;
            }
            p {
                font-size: 1em;
            }
        }
        .form-wrapper {
            .contact-form {
                .form-group {
                    label {
                        font-size: 1em;
                    }
                }
                .form-submit {
                    font-size: 0.875em;
                }
            }
        }
        
    }
}
@media (min-width: 1200px) {
    .contact {
        .contact-intro {
            h6 {
                font-size: 1.375em;
            }
        }
    }
}