.footer {
    position: relative;
    border-top: 2px solid $purple;
    color: $white;
    .icon-holder {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -12.5px;
        background-color: $purple;
        border: 2px solid $purple;
        cursor: pointer;
        width: 25px;
        height: 25px;
        transition: all .4s ease-in-out;
        background-image: url("../img/back-to-top.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -9999px;
        &:hover {
            border-color: $white;
        }
    }
    .contact-links {
        text-align: center;
        margin: 40px 0 20px 0;
        padding-left: 10px;
        li {
            display: inline-block;
            &:first-child {
                padding-right: 10px;
            }
            a {
                display: block;
                width: 25px;
                height: 25px;
                background-color: $link-color;
                text-indent: -9999px;
                background-size: cover;
                border-radius: 10px;
                transition: all .5s;
                &.fb {
                    background-image: url("../img/facebook.png");
                }
                &.gh {
                    background-image: url("../img/github.png");
                }
                &:hover {
                    background-color: $white;
                }
            }
        }
    }
    p {
        text-align: center;
        font-style: italic;
        font-size: 12px;
        span {
            display: inline-block;
            padding-left: 5px;
        }
    }
}
@media (min-width: 768px) {
    .footer {
        .icon-holder {
            width: 32px;
            height: 32px;
            top: -16px;
        }
        .contact-links {
            li {
                a {
                   width: 27px;
                   height: 27px; 
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .footer {
        border-top-width: 3px;
        .icon-holder {
            width: 35px;
            height: 35px;
            top: -17.5px;
            border-width: 4px;
        }
        .contact-links {
            li {
                a {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        p {
            font-size: 0.875em;
            padding-bottom: 10px;
        }
    }
}