.intro-content {
    text-align: center;
    background-color: $white;
    background-image: url(../img/intro-bkg.jpg);
    background-size: cover;
    color: $white;
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    a {
        color: $link-color;
        border: 3px solid $white;
        text-decoration: none;
        border-radius: 3px;
        padding: 10px 20px;
        font-size: 18px;
        display: inline-block;
        margin: 20px 0 40px 0;
        span {
            img {
                opacity: 0.6;
                transition: all .6s;
                &:hover {
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    transform: rotate(90deg);
                    opacity: 0.4;
                }
            }
        }
    }
}