.projects {
    padding: 20px 0;
    background-image: url(../img/projects-bkg.jpg);
    h3 {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 1em;
        color: $light-black;
    }
    .modal {
        .modal-header {
            text-align: center;
            border-bottom: 0;
            h5 {
                font-size: 1em;
                width: 100%;
                font-weight: bold;
                text-transform: uppercase;
            }
            button:focus {
                outline: none;
            }
            span { 
                color: red;
            }
        }
        .modal-details {
            text-align: center;
            .img-holder {
                overflow: hidden;
                img {
                    transition: all 1s ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            p {
                font-size: 0.875em;
                display: inline-block;
                padding: 10px 0 0 10px;
                font-style: italic;
            }
            hr {
                margin:  0 30px;
            }
        }
        .modal-footer {
            justify-content: center; 
            border: 0;
            .btn {
                font-size: 0.750em;
                border-radius: 5px;
            }
        }
    }
    .card {
        border: 3px solid $blue;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin-bottom: 7px;
        .card-img-top {
            width: 100%;
            height: 30vh;
            object-fit: cover;
        }
        .card-body {
            text-align: center;
        }
        h5 {
            font-weight: bold;
            font-size: 0.875em;
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }
    a, .btn {
        font-size: 0.750em;
        color: $blue;
        border: 2px solid $blue;
        background-color: $white;
        transition: all .5s ease-in-out;
        &:hover {
            color: $white;
            background-color: $blue;
        }
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    } 
}
@media (min-width: 576px) {
    .projects {
        h3 {
            padding: 10px 0;
        }
        .card {
            margin-bottom: 10px; 
        }
    }
}
@media (min-width: 768px) {
    .projects {
        .modal {
            .modal-header {
                h5 {
                    font-size: 1.125em;      
                }
            }
        }
        h3 {
            font-size: 1.25em;
        }
        .card {
            h5 {
                font-size: 1.125em;
            }
        }
        a, .btn {
            font-size: 0.875em;
        }
    }
}
@media (min-width: 992px) {
    .projects {
        .modal {
            .modal-header {
                h5 {
                    font-size: 1.250em;      
                }
            }
            .modal-details {
                p {
                    font-size: 1em;
                }
            }
            .modal-footer {
                .btn {
                    font-size: 0.938em;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .projects {
        h3 {
            font-size: 1.375em;
        }
        a, .btn {
            font-size: 0.938em;
        }
    }
}

